.userPanel{

}

.userInfo .userTitle{
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: inherit;
    color: #191632;
}
.userEmail{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #89888E;
}