.inputCollapser{
    box-sizing: border-box;
    background: #FFFFFF;
    /* Border */

    border: 1px solid #EDEDED;
    border-radius: 8px;
    padding: 18px 14px;
    margin-top: 12px;
}
.inputCollapser .title{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #5F2EE5;
}
.bord{
    border: 1px solid #EDEDED;
    height: 1px;
    margin-top: 10px;
}
.arrow:hover{
    cursor: pointer;
}
.close{
    animation-name: slideup;
    animation-duration:2s;
    
}

.open{
    animation-name: slidein;
    animation-duration: 2s;
}
.children{
}
@keyframes slidein {
    from {
      /* margin-left: 100%; */
      height: -2px;

    }
  
    to {
      /* margin-left: 0%; */

      height: auto;
    }
  }

  @keyframes slideup {
    from {

      /* margin-left: 0%; */
      height: auto;
    }
  
    to {
        /* margin-left: 100%; */
        height: -2px;
    }
  }